<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="settings_pro_adv.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <settings_pro_adv.Properties.Settings>
            <setting name="selected_combo_index" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="mark_num" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="check_state" serializeAs="String">
                <value>False</value>
            </setting>
        </settings_pro_adv.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
